*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
width: 100%;
height: 100%;
background-color: #181818;

}
#container{


}
#container__bottom{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "n m";
    padding-top: 55px;
}
/*HEADER=======================================*/
#nav div{
    margin-top: 100px;
    color: white;
    
}
#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 55px;
    position: fixed;
    flex-wrap: nowrap;
    white-space: nowrap;
   opacity: 0.9;
    
}

#header__logo{
 
   
}
#header__row{
   display:flex;
   align-items: center;
   
}
#row__logo{
  
}
#row__logo img{
    width:60px;

}
#row__youtube{
    font-weight: bold;
    color: white;
    font-size: 17pt;
    align-self:center;
    
   
  
}

#row__menu{
    margin-right: 31px;
    padding-left: 36px;
}

#row__menu a img{
    width: 27px;
   
   
}
#search__style{
    background-color: #121212;
    color: #b3b3b3;
    border-color: #333333;
    width: 100%;
    height: 27px;
    
}
#search{
    width: 500px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: nowrap;
    
}

.search__icon{
    width: 32px;
    padding:6px;
    background-color: #8c8484;
    border-radius: 2%;

    
}
/*header_menu*/
#header__menu{
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.menu__Criar{}
.menu__style{
    width: 23px;
    margin: 0 10px 0 10px;
    
}
.menu__style--marginleftright{
    width: 23px;
    margin: 0 10px 0 10px;
    
}
.menu__style--circle{
    width: 35px;
    margin: 0 10px 0 10px;
   
}
#menu__aplicativos{}
#menu__perfil{}
/*HEADER-END=======================================*/

/*MAIN*/
#main{
    margin-left: 20px;
    grid-area:m;
    height: 100vh;

}

#main__ul{
 
}
#main__li{
    display: inline-flex;
}

.layout__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:240px;
    height:240px;
    margin:13px;
  

}
.layout__video img{
    max-width: 250px;


}


/*CANAL*/
#layout__channel{
    margin: 5px ;
    width: 100%;
    display:flex;
    align-items: center;

}
#layout__channel h2{
    color: white;
   margin-left: 8px;
    font-weight:600;
  font-size: large;
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
    height: 40px;
   
   
   

  
}
#layout__channel img{
    width: 30px;
    height: 30px;
    border-radius:100%;
}
/*CANAL__END*/

/*TITULOVIDEO*/
#layout__texts{

}
#layout__texts p{
    color: #b3b3b3;
    
}
.layout__views{
display: flex;

}
.layout__canal{
    margin-bottom: 4px;
}
/*TITULOVIDEO__END*/

/*TITULO*/




/*NAV=======================================*/
.nav--topbottom{
    margin: 11px 0 11px 0;
    text-align: center;

}
.nav--topbottom p {
    color: white;
    margin-top: 4px;
}
#nav{
    width:13vh;
    min-height: 100vh;
    background-color: #212121;
    position: fixed;
}
#nav__columm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;

}
#nav__inicio{
    
}
#nav__explorar{}
#nav__incricoes{}

#nav__biblioteca{}
.nav__img{
    width: 25px;
}
/*NAV_END=======================================*/
